.funeral-wrap {
    width: 1200px;
    /* margin-bottom: 100px; */
}
.funeral{
    width: 100%;
    background-color: #ebebe9;
}
.funeral-cont {
    width: 1200px;
    background-color: #ebebe9;
}

.funeral-list {
    width: 100%;
    margin-top: 86px;
    margin-bottom: 74px;
}

.englishName {
    color: #b3b3a0;
    font-size: 20px;
    margin-top: 35px;

}

.title {
    width: 365px;
    height: 75px;
    border: 2px solid #888886;
    color: #2c3d4e;
    font-size: 20px;
    margin-top: 24px;
}

.funeral-img {
    margin-bottom: 38px;
    width: 109.6px;
    transition: all 1s;
    transform: rotateY(0deg);
}

.funeral-img:hover {
    transform: rotateY(-180deg);
}

.funeral-text {
    color: #192548;
    font-size: 16px;
}

.mideg-title {
    color: #888886;
    font-size: 18px;
    margin-top: 108px;
    width: 100%;
    text-align: center;
}

.mid-title {
    color: #2c3d4e;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;

}

.solution-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 104px;
}

.solution-item {
    width: 391px;
    background-color: #ffffff;
    overflow: hidden;
    height: 308px;
    margin-top: 22px;
    border: 1px solid #cbcbcb;
    margin-right: 9px;
    transition: all 0.5s;
    color: #313131;
}
.solution-item:hover{
    background-color: #c4a064;
    color: #ffffff;

}
.img-wrap{
    width: 100%;
    height: 219px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.solution-item>.img-wrap>img {
    height: 219px;
    width: 100%;
    transition: all 0.5s;
}
.solution-item>.img-wrap>img:hover {
    transform: scale(1.08);
} 

.solution-item>.col>.name {
    text-align: center;
    font-size: 18px;
}



.solution-item>.col>.des {
    font-size: 14px;
    margin-top: 8px;
    line-height: 27px;
}