

/* 轮播 */
.swiper-container {
    width: 100%;
}

.swiper-img {
    width: 100%;
}

.swiper-pagination-bullet-active {
    background: #c4a064;
}

/* 导航栏 */


.header {
    position: absolute;
}

.header-top {
    width: 1200px;
    margin: 10px auto 0 auto;
    position: relative;
}

#nav {
    color: #ffffff;
    position: relative;
    z-index: 1;
    width: 100%;
    display: inline-block;
    margin: 100px auto 0;
}

.MenuIndex {
    position: absolute;
    width: 1200px;
    margin: 125px auto -30px;
    z-index: 5;
}

.MenuIndex li {
    float: left;
    _display: inline;
    line-height: 20px;
    position: relative;
    text-align: center;
    height: 38px;
    margin: 0 28px;
}
.MenuIndexHover{
    color: #c4a064!important;
    border-bottom: 2px solid #c4a064;
}
.MenuIndex li a.MenuIndex-title {
    color: #ffffff;
    display: block;
    height: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.logo {
    float: left;
    margin-top: -64px;
}

.search {
    position: relative;
    left: 1px;
    width: 19px;
    float: left;
    height: 19px;
}

/* 品牌 */
.brand-wrapper {
    margin-top: 80px;
    width: 100%;
}

.brand-wrapper>.brand-title {
    margin: 0 auto;
    width: 100%;
}

.brand-wrapper>.brand-title>.name {
    font-size: 20px;
    color: #2c3e4e;
    margin: 0 6px;
}


.line {
    text-align: center;
    color: #999999;
    font-size: 18px;
    margin-top: 0.5%;
}
.brand-wrapper{

}
.brand-wrapper>.content {
    margin-top: 4%;
    width: 1200px;
    margin-bottom: 100px;

}

.brand-wrapper>.content>.item {
    width: 29%;

}

.brand-wrapper>.content>.item>.brandImg {
    width: 100%;

}

.brand-wrapper>.content>.item>.name {
    color: #212121;
    font-size: 17px;
    width: 100%;
    padding: 2% 5% 0;
    white-space: nowrap;

}

.brand-wrapper>.content>.item>.des {
    color: #666666;
    font-size: 14px;
    margin: 2% 5%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;


}

.brand-wrapper>.content>.item>.more {
    color: #ffffff;
    font-size: 14px;
    width: 148px;
    height: 35px;
    background-color: #c4a064;
    border-radius: 16px;
    margin-top: 5%;
    margin-bottom: 3%;

}

/* 社会责任 */
.sociology-wrapper {
    width: 100%;
    position: relative;
    background: url(./../img/index/bg.png);
    background-size: 100% 100%;
    padding-bottom: 5%;
}

.sociology-wrapper>.sociology-title {
    margin: 0 auto;
    width: 100%;
    margin-top:4%;
}

.sociology-wrapper>.sociology-title>.name {
    font-size: 20px;
    color: #ffffff;
    margin: 0 6px;
}

.sociology-wrapper>.content {
    width: 1200px;
    margin-top: 5%;
}

.sociology-wrapper>.content>.sociologyImg {
    margin: 0 2.5%;
    width: 12%;
}

.socialline {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-top: 0.5%;
}

/* 新闻中心 */
.news-wrapper {
    margin-bottom: 100px;
}

.news-wrapper>.news-title {
    margin: 0 auto;
    width: 100%;
    margin-top: 5%;
}

.news-wrapper>.news-title>.name {
    font-size: 20px;
    color: #2c3e4e;
    margin: 0 6px;
}

.news-wrapper>.content {
    margin: 50px auto 0;
    width:1200px;
    height: 100%;
}

.news-wrapper>.content>.text {
    height: 382px;
    margin-left: 3%;
}

.news-wrapper>.content>.newsBanner {
    height: 382px;
    /* margin-right: 1%; */
    width: 50%;
}

.news-wrapper>.content>.text>.more {
    color: #ffffff;
    font-size: 14px;
    width: 148px;
    height: 35px;
    background-color: #c4a064;
    border-radius: 16px;
    margin-bottom: 10px;
}

.news-wrapper>.content>.text>.item>.title {
    font-size: 16px;
}

.news-wrapper>.content>.text>.item>.des {
    font-size: 14px;
    margin-top: 1%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 27px;
}

/* 清除浮动 */
.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: " ";
}

