.qa-wrap{
    margin-bottom: 104px;
}
.qa-cont {
    width: 1200px;
}
.title-wrap{
    width: 545px;
    margin-top: 90px;
}
.title{
    color: #c4a064;
    font-size:20px ;
    width: 545px;
    border-bottom: 1px solid #858585;
    margin-left: 10px;
}
.titleHover{
    color: #858585;
    font-size:40px ;
}
.des{
    font-size:16px ;
    color: #666666;
    line-height: 32px;
    width: 545px;
    margin-top: 30px;
}
.desHover{
    color: #c4a064;
    font-size:16px ;
}
