@charset "UTF-8";
html {
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  line-height: 1.5;
  font-family: Arial, "Microsoft YaHei", Verdana;
}
html {
  background-color: rgb(245, 245, 245);
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.6667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 448px) {
  html {
    font-size: 59.7333px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 512px) {
  html {
    font-size: 68.2667px;
  }
}

@media (min-width: 544px) {
  html {
    font-size: 72.5333px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 76.8px;
  }
}

@media (min-width: 608px) {
  html {
    font-size: 81.0667px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 85.3333px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 100px;
    background-color: #ffffff
  }
}

body {
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff
}

* {
  /* touch-action: none; */
  box-sizing: border-box;
  outline: none;
  border: none;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 边框 */
.border-bottom-1px {
  border-bottom: 1px solid #f2f2f2;
}

.border-top-1px {
  border-top: 1px solid #f2f2f2;
}

.border-right-1px {
  border-right: 1px solid #f2f2f2;
}

.border-left-1px {
  border-left: 1px solid #f2f2f2;
}

/* 公共布局样式 */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.j-c {
  justify-content: center;
}

.j-b {
  justify-content: space-between;
}

.j-a {
  justify-content: space-around;
}

.j-e {
  justify-content: flex-end;
}

.a-c {
  align-items: center
}

.f-w {
  flex-wrap: wrap;
}

.t-c {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img{
  outline-width:0px;
  vertical-align:top;
}