.team-wrap {
    width: 1200px;
    margin-bottom: 100px;
}

.team-cont {
    background-color: #ebebe9;

}

.team-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 84px;
}

.team-item {
    width: 304px;
    background-color: #ffffff;
    padding-top: 7px;
    height: 334px;
    margin-top: 22px;
}

.team-item>.name {
    text-align: center;
    color: #000000;
    font-size: 18px;
    margin-top: 18px;
}

.team-item>img {
    width: 290px;
}

.team-item>.des {
    width: 290px;
    color: #999999;
    font-size: 12px;
    margin-top: 15px;
    line-height: 27px;
}

.position-list {
    width: 50%;
}

.EnglishName {
    color: #b3b3a0;
    font-size: 20px;
   
}

.title {
    width: 365px;
    height: 75px;
    border: 2px solid #888886;
    color: #2c3d4e;
    font-size: 20px;
    margin-top: 35px;
}

.position-list>.des {
    width: 546px;
    font-size: 14px;
    line-height: 32px;
    text-indent: 28px;
}

.mid-word {
    width: 100%;
    margin-top: 39px;
    font-size: 14px;
    line-height: 32px;
}

.mid-img {
    margin-top: 73px;
}
.honor-wrap{
    background-color: #ebebe9;
}
#swiper1 {
    width: 1110px;
    margin-top: 57px!important;
    margin-bottom: 60px!important;
}
.swiper-pagination-bullet-active {
    background: #c4a064!important;
}